.slider{
    
    width:100%;
    height: 80%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: orange;
}

.slider{
    
    min-width: 80%;
    height: 80vh;
    transition: 0.5s;
}

%btn-styles{
    position: absolute;
    left: 1220;
    transform: translate(-50);
    width: 5%;
    height: 80%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    &:hover{
        background: rgba(0,0,0,0.356);
    }
}


#goleft{
left: 0;
@extend %btn-styles;
}

#goright{
right: 0;
@extend %btn-styles;
}